.dashboard-container {
  height: 400vh;
  position: relative;
}

.dashboard-contents {
  margin-left: 269px;
  background-color: #e7e9ec;
  height: 100%;
  transition: all 0.2s;
}

.dashboard-contents-expanded {
  margin-left: 75px;
}

@media only screen and (max-width: 992px) {
  .dashboard-contents {
    margin-left: 200px;
  }
  .dashboard-contents-expanded {
    margin-left: 75px;
  }
}

@media only screen and (max-width: 768px) {
  .dashboard-contents {
    margin-left: 175px;
  }
  .dashboard-contents-expanded {
    margin-left: 75px;
  }
}

@media only screen and (max-width: 600px) {
  .dashboard-contents {
    margin-left: 200px;
  }
}

.btn-with-logo {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}
