<%- layout('layout/dashboard') %>
<div class="p-5">
  <div class="row mb-3">
    <div class="col-md-12 col-lg-6">
      <h3>Welcome, <%= user.first_name %>!</h1>
    </div>
    <div class="col-md-12 col-lg-6 text-start text-lg-end">
      <a href="#" class="btn btn-theme-dark btn-with-logo my-2 my-md-0">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-plus-lg"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"
          /></svg
        >New Project</a
      >
      <a href="#" class="btn btn-theme-dark btn-with-logo"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-plus-lg"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"
          /></svg
        >New Ticket</a
      >
    </div>
  </div>
  <div class="row g-2">
    <div class="col-sm-12 col-md-6 col-xl-3">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <h4 class="card-title">Active Projects</h4>
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-folder"
            viewBox="0 0 16 16"
          >
            <path
              d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"
            />
          </svg>
          <p class="card-text fw-bold">
         6
          </p>

          <a href="#" class="btn btn-theme-dark">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-3">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text fw-bold">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-theme-dark">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-3">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text fw-bold">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-theme-dark">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-3">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text fw-bold">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-theme-dark">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
